* {
    box-sizing: border-box;
}

body {
    margin: 0 3em;
    font-family: 'Ubuntu', sans-serif;
    display:flex; 
    flex-direction:column; 
}

.header-nav h1 {
    cursor: pointer;
}

.header-nav{
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

#page section{
    
    margin-top: 1em;
    margin-bottom: 1em;

}

form {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 0.5em;
    padding: 0 0.5em;
    border-top: 5px solid #f5ba1a;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

form fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

form input {
    padding: 0.5em;
    width: 100%;
}

form button {
    padding: 0.5em;
}

footer{
    margin-top: 1em;
    text-align: right; 
    border-top: 1px solid black;
}