* {
    box-sizing: border-box;
}

body {
    margin: 0 3em;
}

.header-nav{
    margin: 0 auto;
    padding: 0 1em;
}

form {
    max-width: 700px;
    margin: 0 auto;
}

form fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

form input {
    padding: 0.5em;
    width: 100%;
}

form button {
    padding: 0.5em;
}