.movies-default {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.movies-default div {
    border: 1px solid rgb(165, 111, 12);
    padding: 0 1em;
    box-shadow: 3px 3px 3px rgb(165, 111, 12);
}

.movies-default div img {
    width: 100%;
}