.material-icons {
    cursor: pointer;
}

.material-icons.home-icon {
    font-size: 2em;
}

.material-icons.sign-up-icon {
    font-size: 2em;
}

.material-icons.login-icon {
    font-size: 2em;
}

.material-icons.logout-icon {
    font-size: 2em;
}

.material-icons.favorite-icon {
    font-size: 2em;
}


